body {
  margin: 0;
  background: #fffaf7;
  font-family: "Georgia", serif;
  color: #5b372e;
  text-align: center;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
}

.hero {
  padding: 50px 20px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}
